<div class="container">
  <h1>Generar correo de restablecimiento</h1>

  <form id="restoreForm">
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="email" required>
    </div>

    <button type="submit" class="btn btn-primary">Generar correo de restablecimiento</button>
  </form>
</div>

<script src="/js/restore.js"></script>