{{!-- <div>
  <h1>Login</h1>
  <form id="login"> <h3>Login</h3>
    <input type="email" name="email" id="email" class="form-control" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <input type="submit" />
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  </form>
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
<script src="/js/login.js"></script> --}}


<form id="login">

  <h2>Login</h2>
  <div class="form-outline mb-4">
    <input type="email" name="email" id="email" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>


  <div class="form-outline mb-4">
    <input type="password" name="password" id="password" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="/register">Register</a></p>
  </div>
</form>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
<script src="/js/login.js"></script>