
body{
    background-color: rgb(62, 103, 150);
}
/*product.handlebars*/
#productId{
    color: rgb(49, 197, 197);
    font-weight: bold;
}
.colorTextProduct{
    color:aliceblue;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:30%
  }


/*********************/