
body{
    background-color: rgb(62, 103, 150);
}
/*product.handlebars*/
#productId{
    color: rgb(49, 197, 197);
    font-weight: bold;
}
.colorTextProduct{
    color:aliceblue;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:30%
  }
  img{
    width: 20%;
}
.form-control{
  width: 120%;
}
/*login.handlebars*/
.githubButton{
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
  left: 2%;
}

/*********************/